#.gitignore
.htaccess
.editorconfig
index.php
languages/
upgrade/
uploads/
README.md

themes/*
!themes/dftheme/
!themes/dftheme/*
themes/dftheme/node_modules
themes/dftheme/src
themes/dftheme/gulp
themes/index.php

#各プラグインは管理対象とするか確認してから含める。
plugins/*

#default file

.DS_Store
/wp-config.php
